[Unit]
Description=Group policy update for machine
After=sssd.service

[Service]
Environment="PATH=/bin:/sbin:/usr/bin:/usr/sbin"
Type=notify
WatchdogSec=3600
Restart=always
ExecStart=/usr/bin/gpupdate
StandardOutput=journal

[Install]
WantedBy=multi-user.target
