{
  "policies": {
    "Homepage": {
      "URL": "{{ get_home_page() }}",
      "Locked": true,
      "StartPage": "homepage"
    },
    "BlockAboutAddons": true,
    "BlockAboutConfig": true,
    "BlockAboutProfiles": true,
    "BlockAboutSupport": true,
    "Bookmarks": [],
    "CaptivePortal": true,
    "Cookies": {
      "Default": true,
      "Locked": true
    },
    "DisableSetDesktopBackground": true,
    "DisableAppUpdate": true,
    "DisabledBuiltinPDFViewer": true,
    "DisableDeveloperTools": true,
    "DisableFeedbackCommands": false,
    "DisableFirefoxScreenshots": false,
    "DisableFirefoxAccounts": true,
    "DisableFirefoxStudies": true,
    "DisableForgetButton": false,
    "DisableFormHistory": true,
    "DisablePasswordReveal": true,
    "DisablePocket": true,
    "DisablePrivateBrowsing": false,
    "DisableProfileImport": true,
    "DisableProfileRefresh": true,
    "DisableSafeMode": false,
    "DisableSecurityBypass": {
      "InvalidCertificate": false,
      "SafeBrowsing": false
    },
    "DisableSystemAddonUpdate": true,
    "DisableTelemetry": true,
    "DisplayBookmarksToolbar": true,
    "DisplayMenuBar": true,
    "DontCheckDefaultBrowser": true,
    "DownloadDirectory": "${home}",
    "EnableTrackingProtection": {
      "Value": true,
      "Locked": true
    },
    "EnterprisePoliciesEnabled": true,
    "ExtensionSettings": {
      "*": {
        "blocked_install_message": "Extension installation is disabled",
        "install_sources": [],
        "installation_mode": "blocked"
      }
    },
    "ExtensionUpdate": false,
    "FlashPlugin": {
      "Allow": [],
      "Block": [],
      "Default": false,
      "Locked": true
    },
    "InstallAddonsPermission": {
      "Allow": [],
      "Default": false
    }
    "NetworkPrediction": false,
    "NewTabPage": true,
    "OfferToSaveLogins": false,
    "OverrideFirstRunPage": "{{ get_home_page() }}",
    "OverridePostUpgradePage": "",
    "PasswordManagerEnabled": false,
    "Permissions": {
    },
    "PopupBlocking": {
      "Allow": [],
      "Default": true,
      "Locked": true
    },
    "Preferences": {
      "app.update.auto": false,
      "browser.fixup.dns_first_for_single_words": true,
      "browser.safebrowsing.phishing.enabled": true,
      "browser.safebrowsing.malware.enabled": true,
      "browser.search.update": true,
      "browser.slowStartup.notificationDisabled": true,
      "browser.tabs.warnOnClose": true,
      "browser.taskbar.previews.enable": false,
      "browser.urlbar.suggest.bookmark": true,
      "browser.urlbar.suggest.history": true,
      "browser.urlbar.suggest.openpage": true,
      "datareporting.policy.dataSubmissionPolicyBypassNotification": true,
      "dom.allow_scripts_to_close_windows": false,
      "dom.disable_window_flip": true,
      "dom.disable_window_move_resize": true,
      "dom.event.contextmenu.enabled": true,
      "goe.enabled": false,
      "places.history.enabled": false,
      "print.save_print_settings": false,
      "security.mixed_content.block_active_content": true,
      "security.ssl.errorReporting.enabled": false,
    },
    "PromptForDownloadLocation": true,
    "SanitizeOnShutdown": true,
    "SearchBar": false
  }
}

